header {
  height: 5rem;
  background: var(--bg-header-start);
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1rem solid var(--bg-header-end);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

header:hover {
  animation: color-rotate 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
