:root {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  z-index: 0;
  --bg-main: #34343f;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --selected-primary: #6649b8;
  --selected-secondary: #885ac9;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-main);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
}

/* small screens */
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}
