:root {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  z-index: 0;
  height: 100%;
  --bg-main: #34343f;
  --bg-header-start: #35e844;
  --bg-header-end: #55ff88;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --selected-primary: #35e844;
  --selected-secondary: #55ff88;
  --transition-speed: 600ms;
}

body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  margin-top: 1rem;
  min-height: 100%;
  background-color: var(--bg-main); 
  background-blend-mode: multiply;
  background-size: cover;
}

main,
header {
  position: relative;
  overflow-x: hidden;
}

main.category-general {
  background-image: url(../assets/images/general.jpg);
}

main.category-maths {
  background-image: url(../assets/images/maths.jpg);
}

main.category-it {
  background-image: url(../assets/images/it.jpg);
}

main.category-music {
  background-image: url(../assets/images/music.jpg);
}

h1 {
  position: relative;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* large screens */
@media only screen and (min-width: 600px) {
  main,
  header {
    left: 5rem;
    width: calc(100% - 5rem);
  }
}

/* small screens */
@media only screen and (max-width: 600px) {
  main {
    overflow-y: clip;
  }
}

header {
  height: 5rem;
  background: var(--bg-header-start);
  color: var(--text-secondary);
}

@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-20deg);
  }
}

header:hover {
  animation: color-rotate 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
