:root {
  --button-border-radius: 20px; 
}

.question {
  width: 100%;
  height: 100%;
}

#question {
  margin: 1rem;
}

.options {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.options li {
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all var(--transition-speed);
  border-radius: var(--button-border-radius);
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  text-decoration: none;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.options li:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.option input {
  display: none;
}

.submit-button {
  grid-column: span 2;
}

.selected {
  background-color: var(--selected-primary);
}

#submit-button {
  display: none
}
