.dark {
  --bg-main: #34343f;
  --bg-header-start: #8f1d4c;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --selected-primary: #8f1d4c;
  --selected-secondary: #8f1d4c;
}

.light {
  --bg-main: #e8e8e8;
  --bg-header-start: #79b0ab;
  --bg-primary: #e4e4e4;
  --bg-secondary: #c4c4c4;
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --selected-primary: #79b0ab;
  --selected-secondary: #79b0ab;
}

.solar {
  --bg-main: #ffffe0;
  --bg-header-start: #87cfeb;
  --bg-primary: #f6deb3;
  --bg-secondary: #91846a;
  --text-primary: #66563f;
  --text-secondary: #66563f;
  --selected-primary: #9bcd31;
  --selected-secondary: #9bcd31;
}

#darkIcon {
  display: none;
}

#lightIcon {
  display: none;
}

#solarIcon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
