.tiles {
  position: relative;

  padding: 0;
  margin: 1.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.tiles li {
  margin: 0.5rem 0.5rem;
  height: 100%;
  width: 100%;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all var(--transition-speed);
  border-radius: 20px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.tiles li:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(1.1);
  z-index: 2;
}

.option input {
  display: none;
}

.option * {
  pointer-events: none;
}

.ready,
.pending,
.add-button {
  grid-column: span 2;
}

.pending {
  pointer-events: none;
}

.ready {
  pointer-events: all;
}

.selected {
  background-color: var(--selected-primary);
}

#submit-button {
  display: none;
}

input[type="text"],
input[type="radio"] {
  border: none;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.new-option-link {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.question {
  margin: 0 1rem;
  align-items: center;
}
