.tiles {
  position: relative;

  padding: 0;
  margin: min(1.5rem, 5vw);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.tiles li {
  height: 100%;
  width: 100%;
  margin: 0.5rem 0;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all var(--transition-speed);
  border-radius: 20px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

.tiles li:hover {
  background: var(--bg-secondary);
  color: var(--text-secondary);
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: scale(1.1);
  z-index: 2;
}

.option input {
  display: none;
}

.option * {
  pointer-events: none;
}

.pending {
  pointer-events: none;
}

.ready {
  pointer-events: all;
}

#submit-button-label {
  margin: min(1.5rem, 5vw);
}

#submit-button {
  display: none;
}

.new-option-link {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

input {
  position: relative;
  border: none;
  outline: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.new-option-radio {
  width: 100%;
  display: none;
  pointer-events: none;
}

.new-option-text {
  text-align: center;
  font-size: 1rem;
  margin: 0.25rem;
  align-self: center;
  width: 100%;
  height: 100%;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all var(--transition-speed);
}

@media (max-width: 600px) {
  .new-option-text {
    font-size: 0.5rem;
  }
}

.tiles li:hover .new-option-text {
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.new-option-delete {
  justify-self: center;
}

.option.selected {
  background-color: var(--selected-primary);
}

.option.selected:hover {
  background-color: var(--selected-primary);
}

#submit-button-tile,
#add-button-tile,
#question-tile {
  grid-column: 1 / 3;
}

#question-tile input {
  width: 80%;
  height: 80%;
}
